In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r'C:\Users\dell\Desktop\anaconda\netflix_project\netflix_titles.csv')

In [4]:
print(df.head(5))

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [5]:
pd.set_option('display.max_colwidth', None)

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [7]:
print(df.isnull().sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [8]:
df['director'].fillna('Unknown', inplace=True)
df['cast'].fillna('Unknown', inplace=True)
df['country'].fillna('Unknown', inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_2980\3745680589.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director'].fillna('Unknown', inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_2980\3745680589.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cast'].fillna('Unknown', inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_2980\3745680589.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna('Unknown', inplace=True)

In [9]:
df.dropna(subset=['date_added','rating','duration'], inplace=True)

In [10]:
# print(df.isnull().sum())
print(df.isnull().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [11]:
df['date_added'] = pd.to_datetime(df['date_added'].astype(str).str.strip())

In [12]:
# Initialize new columns with NaN
df['movie_duration_mins'] = np.nan
df['tv_show_seasons'] = np.nan

# For Movies, extract the number and fill the movie_duration_mins column
is_movie = df['type'] == 'Movie'
df.loc[is_movie, 'movie_duration_mins'] = df.loc[is_movie, 'duration'].str.replace(' min', '').astype(int)

# For TV Shows, extract the number and fill the tv_show_seasons column
is_tv_show = df['type'] == 'TV Show'
# Use .replace for both ' Season' and ' Seasons'
df.loc[is_tv_show, 'tv_show_seasons'] = df.loc[is_tv_show, 'duration'].str.replace(' Seasons', '').str.replace(' Season', '').astype(int)

In [13]:
df['year_added'] = df['date_added'].dt.year
df['month_added'] = df['date_added'].dt.month

In [14]:
df['content_source'] = np.where(df['release_year'] == df['year_added'], 'Original', 'Licensed')

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 8790 entries, 0 to 8806
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   show_id              8790 non-null   object
 1   type                 8790 non-null   object
 2   title                8790 non-null   object
 3   director             8790 non-null   object
 4   cast                 8790 non-null   object
 5   country              8790 non-null   object
 6   date_added           8790 non-null   datetime64[ns]
 7   release_year         8790 non-null   int64
 8   rating               8790 non-null   object
 9   duration             8790 non-null   object
 10  listed_in            8790 non-null   object
 11  description          8790 non-null   object
 12  movie_duration_mins  6126 non-null   float64
 13  tv_show_seasons      2664 non-null   float64
 14  year_added           8790 non-null   int32
 15  month_added          8790 non-null   int32
 16  content_source       8790 non-null   object
dtypes: datetime64[ns](1), float64(2), int32(2), int64(1), object(11)
memory usage: 1.1+ MB
None

In [16]:
df.to_csv('netflix_cleaned.csv', index=False)
print("\nCleaned data saved to 'netflix_cleaned.csv'")

Cleaned data saved to 'netflix_cleaned.csv'